// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 退会確認ボタン
.btn-withdraw {
  background: #C70044;
  color: #fff;
}

.btn-group {
  background: #004077;
  color: #fff;
}