<div class="container">
  <div class="row mt-2">
    <div class="col-10 col-xs-12">
      <h3 class="font-weight-bold">お絵描きpartyとは</h3>
      <div class="mt-2">
        <p>
          自身の描いた作品を発信し、作品を通してコミュニケーションができる</br>
          コミュニティサイトです。</br>
        </p>
      </div>
    </div>
  </div>
  <div class="row mx-1">
    <div class="col-10 col-xs-12">
      <h3 class="font-weight-bold">お絵描きpartyの使い方</h3>
      <div class="mt-2">
        <h5>目次</h5>
        <p>
        　1.登録ユーザーにできること</br>
        　2.ゲストユーザーにできること</br>
        　3.投稿時にファイルのアップロードに関しての注意事項</br>
        　4.禁止事項
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-xs-12">
      <h3 class="font-weight-bold">1.登録ユーザーにできること</h3>
      <p>
        個人での作品の投稿と<strong class="font-about">グループ</strong>を作って、</br>
        気の合う仲間と集まって、作品を投稿し合うことができます。
      </p>
      </br>
      <p>
        個人での投稿では作品にいいねと評価することができます。</br>
        またその作品に対してコメントすることもできます。
      </p>
      <h4 class="font-weight-bold font-about">グループ機能について</h4>
      <p>
        マイページのグループを作るからグループを作成することができます。
      </p>
      <p>
        グループの作成者のみ、グループ内にメンバーを追加することができます。</br>
        グループに追加されたユーザーはグループの作成者、</br>
        または、追加されたユーザー自身でグループの詳細から</br>
        グループから抜けるでグループから抜けることができます
      </p>
      <h3 class="font-weight-bold">2.ゲストユーザーにできること</h3>
      <p>
        ゲストユーザーは登録ユーザーのように作品の投稿、グループの作成はできません。</br>
        登録ユーザーが投稿した作品の閲覧のみ可能です。
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-xs-12">
      <h3 class="font-weight-bold font-note">3.投稿時のファイルのアップロードに関しての注意事項</h3>
      <p>
        個人投稿、グループ内投稿では複数の画像をアップロードすることができます。</br>
        <strong class="font-note border-bottom-about">ただし、一度で複数の画像ファイルをアップロードしてください</strong></br>
        再度ファイルを選択し、アップロードすると</br>
        プレビュー画像は再度ファイルを選択した画像が追加で表示されますが、</br>
        一度目にアップロードしたファイルは、上書きされてしまいます。</br>
        この状態で投稿してしまいますと、再度ファイルを選択し、アップロードした画像のみ</br>
        投稿されます。</br>
      </p>
      <h3 class="font-weight-bold font-note">4.禁止事項</h3>
      <p>
        個人投稿作品に関して</br>
        成人指定や著作権侵害等が疑われるような投稿はおやめください</br>
        不適切と判断された投稿に関しましては削除させていただく場合がございます。
        作品に関するコメントに関して</br>
        誹謗中傷、著作権侵害等が疑われるようなコメントはおやめください<br>
        誹謗中傷、著作権侵害等が疑われるような、その他、内容が好ましくないコメントにつきましては、<br>
        削除させていただく場合がございます。<br>
      </p>
    </div>
  </div>
</div>