/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');


.signup_title,.signup-text, .signin_title, .btn-lg, .top-text, .btn-picture {
    font-family: 'Zen Maru Gothic', sans-serif;
}


.btn-info-login {
  background: #589DA4;
  color: #fff;
}

.navbar, .footer {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.card-img-top {
  height: 200px;
  width: 200px;
}

.btn-Wstning-registration {
  background: #0075A9;
  color: #fff;
}

.btn-Wstning-about {
  background: #009E96;
  color: #fff;
}

.btn-light-list {
  background: #003856;
  color: #fff;
}


.image_circle_admin {
  width:50px;
  height:50px;
  border-radius:50%;
  background-position: center;
}

/* ユーザー一覧のプロフィール画像*/
.user_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.post_user {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/*マイページプロフィール画像　*/
.image_mypage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.btn-picture {
  background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}

.btn-withdraw {
  background: #C70044;
  color: #fff;
}