/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');


.signup_title, .signin_title, .btn-lg, .top-text, .btn-picture {
    font-family: 'Zen Maru Gothic', sans-serif;
}

/* ログインボタン */
.btn-info-login {
  background: #589DA4;
  color: #fff;
}

.navbar, .footer {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

/* 投稿一覧のcardサイズ */
.card-img-top {
  height: 200px;
  width: 200px;
}

/* 新規登録のボタン */
.btn-Wstning-registration, .btn-registrations {
  background: #0075A9;
  color: #fff;
}

/* Aboutボタン */
.btn-Wstning-about {
  background: #009E96;
  color: #fff;
}

/* ゲストログインボタン */
.btn-gest {
  background: #003856;
  color: #fff;
}

/* ユーザー一覧のプロフィール画像 グループイメージ画像 */
.user_image, .image_group {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/*マイページプロフィール画像　*/
.image_mypage, .group_image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

