<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="bg-light">ユーザー一覧</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <table class="table">
                <thead>
                    <tr class="bg-light">
                        <th>ユーザID</th>
                        <th>ユーザ名</th>
                        <th>メールアドレス</th>
                        <th>ステータス</th>
                    </tr>
                </thead>
                <% @users.each do |user| %>
                    <tbody>
                        <tr>
                            <td><%= user.id %></td>
                            <td>
                                <%= link_to admin_user_path(user.id) do %>
                                    <%= user.nickname %>
                                <% end %>
                            </td>
                            <td><%= user.email %></td>
                            <% if user.is_active == true %>
                                <td class="text-primary font-width-bold">有効</td>
                            <% else %>
                                <td class="text-secondary font-width-bold">退会</td>
                            <% end %>
                        </tr>
                    </tbody>
                <% end %>
            </table>
        </div>
    </div>
</div>