<div class="container">
    <div class="row m-4">
        <div class="col-xs-8 mx-auto">
            <h4 class="font-weight-bold text-center">本当に退会しますか？</h4>
            <p class="text-center">
                退会すると、登録情報の変更や</br>
                作品の閲覧、投稿ができなくなります。</br>
                退会する場合は、【退会する】をクリックしてください。
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 mx-auto">
            <%= link_to "退会する", withdraw_user_path(@user), class: "btn btn-danger btn-withdraw", method: :patch, data: { confirm: "本当に退会しますか？" } %>
        </div>
    </div>
</div>