<footer class="footer p-5 mt-2">
    <div class="container">
      <div class="row">
          <div class="col-sm-12">
            <div class="form-group text-center">
              <p>お問合せ</p>
            </div>
          </div>
      </div>
    </div>
</footer>